@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cyan: #ECFEFF;
  --offWhite: #F1F5F9;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  /* background-image: radial-gradient(farthest-corner at bottom right, #FECDD3, white ); */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */

header {
  padding: 1rem;
  background-color: #F4F4F5;
  box-shadow: 5px 0px 10px 2px (0, 0, 0, 0.2);
}

header h1 {
  text-align: initial;
}

nav {
  text-align: right;
}

nav > a {
  color: #000;
  padding: 0 0.5rem;
  font-weight: bold;
}

a:hover{
  color:  #7DD3FC;
}

/* Main */

/* main{
  justify-content: center;
  align-items: center;
} */

main h1 {
  margin: 0.5rem;
}

/*  Input */

.input-label {
  /* font-size: larger; */
  font-weight: bold;
  color: var(--primary-color);
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 18px;
  outline: #fff;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid darkslategrey;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn-check {
  display: block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.output {
  font-size: x-large;
  margin: 1rem;
}

/* Footer */

footer {
  text-align: center;
  padding: 2rem;
  background-color: #0369A1;
  color: white;
}

footer p {
  /* font-size: larger; */
  text-align: center;
}

.footer-list {
  margin: 1rem;
}

a,
img,
li {
  display: inline;
  /* color: #fff; */
}